{% block content %}
<!DOCTYPE html>
<style>
    body{text-align:center;}
    #card {
    width: 500px;
    height: 400px;
    background: #67e7b2bd;
    border-radius: 10px;
    margin: 1px 380px;
    padding: 12px;
    line-height: 30px;
  }
</style>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Review More</title>
    <!-- <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=cbnxr09zxz"></script> -->
</head>
<body>
<br>
<div id="card">
<h1>{{review.title}}</h1>
<div>
[작성자] {{review.writer}}
<br>
[날짜] {{review.pub_date}}
<br>
[평점] {{review.score}}
</div>
<hr>
<p>{{review.body}}</p>
</div>
<!-- <div id="map" style="width:50%;height:400px;" class="container"></div>
<script>
var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.5234057,127.0358495),
    zoom: 15
});

var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5234057,127.0358495),
    map: map
});
</script> -->

<br>
<button><a href="{% url 'edit' review.id %}">Modify</a></button>
<button><a href="{% url 'delete' review.id %}">Delete</a></button>
<button><a href="{% url 'reviewhome' %}">ReviewHome</a></button>

{% endblock %}