{%load static%}
<link rel="stylesheet" href="{% static 'css/r_home.css' %}">

{% block content %}
    {% if user.is_authenticated %}
    <div class="welcome">Welcome! {{user.username}}!</div>
    {% endif %}
    <h1>ALL REVIEWS</h1>
    <button>
        <a href="{% url 'new' %}" >New Review</a>
    </button>
    <br>

    {% for review in reviews %}
    <div class="container">
        <h3>{{review.title}}</h3>
        <div class="review_container">
         <span>[작성자] {{review.writer}}</span>
         <span>[평점] {{review.score}}</span>
         <span>[후기] {{review.summary}} <a href = "{%url 'detail' review.id %}">...more</a></span>
         </div>
    </div>
    
    {% endfor %}

{% endblock %}