{%load static%}
<link rel="stylesheet" href="{% static 'css/r_new.css' %}">

{% block content %}

<body>
<div class="container">
<h1>Creating New Review!</h1>

<div id="card" class="new_card">
<form action="{%url 'new'%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    {% for field in form %}
    <div>
        <p>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {% for e in field.errors %}
                    <p style="color:palevioletred;">{{ e | escape }}</p>
                {% endfor %}
            {% endif %}
        </p>
    </div>
    {% endfor %}
    <button type="submit" class="upload_review_btn">Review Upload</button>
</form>
</div>
</div>
</body>
{% endblock %}