<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css"/>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <title>A급 백신 플러스</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>A급 백신 PLUS+</h1>
            
            <button type="button" id="login-button" onclick="location.href='accounts/login/'">LOGIN</button>
            <button type="button" id ="signUp-button" onclick="location.href='accounts/signup/'">SIGN UP</button>
            
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>