{%load static%}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">


{%block content%}
<div class="top_bar">
    <button class="btn_category">가다실</button>
    <button class="btn_category">A형 간염</button>
    <button class="btn_category">대상포진</button>
    <a href="{%url 'reviewhome'%}"><button class="btn_review" style="float:right">
        후기</button></a>
</div>


<div class="cards">
{%for blog in blogs%}
<div id="card">
    <div class="card__image-holder">
        <img class="card__image" src="{% static 'image/img_doctor.jpg' %}" alt="wave" />
    </div>
    
    <span class="card-title">
        <h2>{{blog.title}}</h2>
    </span>
    <div class="card-description">
    <h3 class="card-vaccine">
        백신 : {{blog.detail}}
    </h3>
    <h3 class="card-place">
        위치 : {{blog.body}}
    </h3>
    <h3 class="card-price">
        가격 : {{blog.minprice}} ~  {{blog.maxprice}}
    </h3>
    
    <button class="move_button">
        <a href="#">바로가기</a>
    </button>
</div>
</div> 

{%endfor%}
</div>


{%endblock%}