{%load static%}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">

{%block content%}
<div class="category">&nbsp;가다실&nbsp;&nbsp;A형 간염&nbsp;&nbsp;대상포진&nbsp;</div>


<div class="cards">
{%for blog in blogs%}
<div id="card">
    <div class="card__image-holder">
        <img class="card__image" src="{% static 'image/img_doctor.jpg' %}" alt="wave" />
    </div>
    <div class="card-vaccine">
        {{blog.detail}}
    </div>
    <div class="card-title">
        <h2>{{blog.title}}</h2>
    </div>
    <div class="card-place">
        {{blog.body}}
    </div>
    <div class="card-price">
        {{blog.minprice}} ~  {{blog.maxprice}}
    </div>
    <button class="button"><a href="#">바로가기</a></button>
    <br>
</div> 
</div>
{%endfor%}


{%endblock%}